.section-main{
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  max-width: 600px;
  margin: 0px auto 100px;
  text-align: center;
}

.section-main p{
  line-height:1.5em;
  
}

.section-main h2{
  font-size: 30px;
  /* margin-left: 100px; */
  color: rgb(82, 77, 72);

}

.last_footer{
  text-align: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


