.about_summary{
  margin-left: 100px;
  width: 400px;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  padding: 10px;  
  line-height:2.2em;
}
.hr_line{
  margin-right: 100px;
  border-color:rgb(107, 110, 117);
  
}
